.watchlist-body
{
    background-color: #000;
    color: #fff;
}
.watchlist-parent
{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap:1rem;
    border-bottom: .5px solid gray;
    padding-bottom: 1rem;
    padding-top: 1rem;
}
.watchlist-fst-column
{
    font-size: 0.7rem;
    
}
.watchlist-lst-column
{
    display: grid;
    grid-template-columns:  repeat(2,1fr);
    position: relative;
    grid-gap:0.6rem;
     
}
.watchlist-lst-column-bottom-row
{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    font-size: 0.7rem;
}
.watchlist-lst-column-child2
{
    position: absolute;
    top: 100%;
    left: 50%;
    translate: -44% -93%;
}
.watchlist-lst-column-middle
{  
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 5px;

}
.watchlist-li-container
{
padding-left: 0px !important;
}

.portfolio-mobile-table-header {
    text-align: center;
    height: 53px;
    width: 100%;
    background: var(--portfolio-mobile-table-header-bg);
    font-size: 1rem;
    padding: 10px;
}
#portfolio-mobile-acc {
    background-color: #fff;
    color: #6e6c6c;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    height: 100%;
    text-align: center;
    font-size: 1rem;
    border-radius: 30px;

}
.portfolio-mobile-frist-data-table-row {
    height: 27px;
    line-height: 15px; 
}

.portfolio-mobile-frist-data-table-row-column {
    display: table-cell;
    text-align: right;
    border-right: 1px solid var(--portfolio-data-table-row-column-border-right);
    border-bottom: 1px solid var(--portfolio-data-table-row-column-border-bottom);
}

.portfolio-mobile-data-table {
    color: var(--portfolio-data-table-color);
    display: table;
    width: 100%;
    font-size: 0.65rem;
}

.portfolio-mobile-data-table-row {
    height: 27px;
    line-height: 15px;
   
}

.portfolio-mobile-data-table td:nth-child(1) {
    width: 34%;
}

.portfolio-mobile-data-table td:nth-child(2) {
    width: 33%;
}

.portfolio-mobile-data-table-row-column {
    display: table-cell;
    text-align: right;
    border-right: 1px solid var(--portfolio-data-table-row-column-border-right);
    border-bottom: 1px solid var(--portfolio-data-table-row-column-border-bottom);
}

.hide {
    display: none;
}
.show {
    display: block!important;
}
.portfolio-mobile-ul {
    list-style-type: none;
}

.portfolio-mobile-accordion {
    width: 100%;
    padding: 0;

}

 .portfolio-mobile-link {
    cursor: pointer;
    color: #fcfafa;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: bolder;
    font-size: .7rem;
    position: relative;
    transition: all 0.4s ease;
    border-bottom: 0.55px solid var(--accordion-border-bottom);

    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.portfolio-mobile-accordion li:last-child .portfolio-mobile-link {
    border-bottom: 0.55px solid var(--accordion-border-bottom);
}
 
.portfolio-mobile-accordion li i.fa-chevron-down {
    position: absolute;
    top: 16px;
    left: 12px;
    font-size: 1rem;
    color: var(--accordion-fa-chevron-down-color);
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}


.portfolio-mobile-new-buy-order {
    font-size: 0.8rem;
    padding: 3px 15px;
    color: var(--new-buy-order-color);
    background-color: #0CAF82;;   
    box-shadow: 0 0 var(--new-buy-order-boxshadow);
    font-weight: 800;
    border: 0px;
    border-radius: 12px;

}

.portfolio-mobile-new-sell-order {
    font-size: 0.8rem;
    padding: 3px 15px;
    color: var(--new-sell-order-color);
    background-color: #FE3957; 
    box-shadow: 0 0 var(--new-sell-order-boxshadow);
    font-weight: 800;
    border: 0px;
    border-radius: 12px;

}
.portfolio-mobile-prices {
    /* position: absolute;
    top: 16px;
    right: 12px;
    left: auto; */
    color: var(--portfolio-mobile-price-color);
    font-size: .7rem;
    font-weight: bolder;
}

.portfolio-mobile-volumes {
    /* position: absolute;
    top: 35px;
    right: 12px;
    left: auto; */
    color: var(--portfolio-mobile-volume-color);
    font-size: .7rem;
    font-weight: bolder;
}
.portfolio-mobile-row-sub-titles {
    color: var(--portfolio-mobile-row-sub-title-color);
    font-size: .7rem;
    position: relative;
    top: 7px;
}
.portfolio-mobile-right-icon {
    color: var(--portfolio-mobile-row-sub-title-color);
    position: relative;
    top: 5px;
    left: 1px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: .5rem;
}

/**
 * Submenu
 -----------------------------*/
.portfolio-mobile-submenu {
    display: none;
    font-size: .8rem;
    padding-left: 9%;
    padding-right: 1%;
    padding-bottom: 5px;
    border-bottom: 0.5px solid #999393;
}

.portfolio-mobile-submenu li {
    list-style: none;
}
.portfolio-mobile-containers {
  width: 100%;
  margin-top: 20px;
}
.portfolio-mobile-row {
   display: flex;
   flex-flow: row wrap; 
   margin-top: 10px;
}
.list-add-icon {
    font-size: 17px !important;
    margin-left: 40px;
}
.portfolio-mobile-tab-icon-container {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 32px;
    border-bottom: .1px solid #999393;
}

.portfolio-mobile-column-left {
    text-align: left;
  }

  .portfolio-mobile-detail-row-sub-titles {
    color: #717172;
    font-size: .8rem;
    position: relative;

}
.portfolio-mobile-detail-list {
    display: grid !important;
    grid-template-columns: auto auto auto auto !important;
}
.portfolio-mobile-column-value-right {
    margin-right: 10px;
    text-align: right;
  }

  .portfolio-mobile-column-right {
    text-align: right;
  }

  
  .portfolio-mobile-accordion-order-container
  {
      display: grid;
      grid-template-columns: 118px 145px;
  }
  
  .portfolio-mobile-row-titles {
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 0.7rem;
}
.portfolio-mobile-list-icon-containers
{
    display: flex;
    justify-content: space-between;
}

.portfolio-mobile-price-volume-container
{
    display: flex;
    flex-direction: column;
}

.portfolio_mobile_new_history_buy_order {
   
    font-size: 0.8rem;
    padding: 4px 20px;
    color: var(--new-buy-order-color);
    background-color: #0CAF82;
    box-shadow: 0 0 var(--new-buy-order-boxshadow);
    font-weight: 800;
    border: 0px;
    border-radius: 13px;

}
.list-change-icon {
    font-size: 20px !important;
    margin-left: 30px;
    margin-right: 18px;
}
.list-order-icon {
    font-size: 15px !important;
}
.list-date-icon {
    font-size: 20px !important;
    margin-left: 20px;
    margin-right: 13px;
}

.portfolio-mobile-detail-row-titles {
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: .8rem;
    font-weight: bolder;
}

.portfolio-mobile-column-value-right {
    margin-right: 10px;
    text-align: right;
  }

  .portfolio-mobile-column-right {
    text-align: right;
  }
  .green {
    color: #0CAF82 !important;
}

.red {
    color: #FE3957 !important;
}

.portfolio-mobile-modify-icon {
    font-size: 20px;
    margin-left: 1rem;
    margin-right: 1rem;
    color: #0CAF82;
}
.portfolio-mobile-cancel-icon {
    font-size: 20px;
    margin-right: 1rem;
    color: #FE3957;
}
.portfolio-mobile-orderlist-icon {
    font-size: 20px;
    color: #00dcff 
}
.container-subtitles
{
    padding-left: 13px;
    /* padding-top: 0px; */
    margin-top: -7px;
}

/* 
.container {
    position: relative;
    display: inline-block;
  }
  table {
    border-collapse: collapse;
    outline: none;
    table-layout: fixed;
    width: 500px;
  }
  table tr td,
  table tr th {
    word-wrap: break-word;
    border: 1px solid #000;
    min-width: 130px;
    padding: 5px;
    position: relative;
    text-align: left;
    box-sizing: border-box;
    min-width: 30px;
  }
  
  /*table tr td:nth-child(1), table tr td:nth-child(4){text-align: left;}
  .x_resize{position: absolute; left: 0; top: 0; width: 102%; height: 1px; background: red; cursor: row-resize;}*/
  
  /* .y_resize {
    position: absolute;
    top: 0;
    left: 0;
    width: 7px;
    height: 102%;
    background: transparent;
    cursor: col-resize; */
  
  
  .table {
    table-layout: fixed;
  }
   .table td,
   .table th {
      overflow: hidden;
      white-space: nowrap;
      -moz-text-overflow: ellipsis;
      -ms-text-overflow: ellipsis;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
    }
  
    .fixed-top {
        position: fixed;
        background: #000;
        top: 0;
        right: 0;
        left: 0;
        z-index: 100;
    }


    .search-container{
  position: absolute;
  bottom: 67px;
  right: 30px;
  border-radius: 50%;
  width: 52px;
  height: 52px;
  background: linear-gradient(to left, #26d6e6, #67efb8);
}

.mobile-global-search-box {
  padding-top: 14px;
  padding-right: 5px;
  width: 60px;
  height: 48px;
  border-radius: 50%;
  margin: 0 0 0 0;
  cursor: pointer;
  text-align: center;
  color: black;
}

.modal-global {
  position: fixed;
  right: 0;
  bottom: 50px;
  left: 0;
  z-index: 9999;
  display: none;
  overflow: hidden;
  outline: 0;
}

.modal-dialog
{
  margin: 0px !important;
}

.modal-body
{
  padding: 0px !important;
}

.mobile-global-search-container {
  width: 100% !important;
  height: 93vh !important;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: black;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 0;
  outline: 0;
}

.mobile-global-search-icon-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 8px 20px;
}

.mobile-global-input-icons {
  width: 100%;
  position: relative;
}

.mobile-global-input-icons i {
  position: absolute;
  top: 20px;
  left: 14px;
  font-size: 20px;
  color: black;
}

.mobile-global-input-field {
  width: 100%;
  height: 60px;
  padding-bottom: 5px;
  padding-left: 47px;
  color:  black;
  border: none;
  border-radius: 20px;
  z-index: 2;
  background-color: #f4f5f7;
  border: 1px solid gray;
}

.mobile-global-xmark-icon {
  padding-left: 18px;
}

:focus {
  outline: none
}  

.moblile-gaincash-title-container {
  display: flex;
  flex-direction: column; 
}

.moblile-gaincash-value-container {
  display: flex;
  flex-direction: column;  
  border-left-color:var(--border-left-gc-color);
  border-left-style: solid;
  border-left-width: .2px;
} 

.mobile-gc-tv {
  font-size: 9px;
  font-weight: bold; 
  color: var(--profile-card-item-color);
} 

.mobile-gc-v {
  font-size: 12px;
  font-weight: bold; 
} 
.mobile-gc-pv {
  font-size: 9px;
  font-weight: bold; 
} 

.mobile-bell-num-container
{
  position: relative;
}

.mobile-bell-number {
  height: 22px;
  width: 22px;
  background-color: #ffa620;
  border-radius: 20px;
  color: black;
  text-align: center;
  position: absolute;
  top: -6px;
  left: 35px;
  padding: 3px;
  border-style: solid;
  border-width: 2px;
  font-weight: 700;
}

.mobile-global-profile-container
{
  position: fixed;
  transform: translate3d(8px,29px,0px);
  width: 267px;
  height: 372px;
  border-radius: 15px;
  top: 18px;
  right: 10px;
  will-change: transform;
  z-index: 99999;
}
.mobile-global-topbar-container
{
  background-color: var(--mobile-global-topbar-bg) !important;
}

/* profile card style */
.profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 370px;
  width: 100%;
  height: 373px;
  background: var(--profile-card-bg);
  border-radius: 24px;
  padding-top: 55px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  border: 1px solid var(--profile-card-border-color);
}
 
.mobile-global-profile-item
{
color: var(--profile-card-item-color);
font-size: 13px;
font-weight: 700;
}

.global-searchbox
{ 
display: block;
width: 135px;
height: 43px;
padding: 0.3rem 0.1rem 0.3rem 0.4rem;
font-size: 0.8rem;
font-weight: normal;
font-family: inherit;
background: var(--select-bg);
border: 1px solid var(--profile-card-border-color);
color: var(--font-color);
border-radius: 2rem;
}

/* Theme swith style */

.ld-theme-switch-wrapper {
  display: flex;
  align-items: center;
  margin-left: 10px;
  font-size: 1rem;
}

.ld-theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

input{
  font-size: 1rem;
  line-height: 2.5;
  font-weight: normal;
  background: var(--select-bg);
  border: 0px;
  color: var(--font-color);
}

input:checked + .ld-slider {
  background-color: #66bb6a;
}

input:checked + .ld-slider:before {
  transform: translateX(26px);
  }
  
.ld-slider.ld-round {
  border-radius: 34px;
}

.ld-slider.ld-round:before {
  border-radius: 50%;
  }
  
.ld-slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.ld-slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
  }

label {
  margin-bottom: 0!important;
}

.profile-logout-container
{
  position: fixed;
  bottom: 10px;
  width: 100%;
  z-index: 10;
}

.profile-btn-logout
{
  background: var(--select-bg);
}

.mobile-profile-btn-sm {
  padding: 0.2rem 0.8rem !important;
  font-size: .875rem !important;
  line-height: 1.5 !important;
  border-radius: 1rem !important;
  border: .5px solid var(--profile-card-border-color);
  color: var(--profile-card-item-color);
}


/* Style inputs, select elements and textareas */
/* input[type=text], select, textarea{
  width: 100%;
  padding: 12px 12px 12px 26px;
  box-sizing: border-box;
  resize: vertical;
} */


.option-1
{
  background-color: #00dcff;
}

/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

/* Style the submit button */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

/* Style the container */
.container {
  border-radius: 5px;
  background-color: #000;
  padding: 20px;
}

 
 
.column {
  float: left;
  width: 50%;
  border: 1px solid green;
  box-sizing: border-box;
}
